.navegacion{

  background-color: #e6d0f0;

}
.img-logo{
  height: 100px;
  width: 150px;
  border-radius: 50%;
 
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 45px;
  display: flex;
  justify-content: center;
  background-color: #e6d0f0;
  font-size: 15px;
  font-family: 'Ranga', cursive;
  text-decoration: none;
}

.nav ul  {
  background-color: #e6d0f0;
 
}
.nav a {
  padding: 20px;
  font-size: 25px;
  font-family: 'Ranga', cursive;
  text-decoration: none;
  color: #9b12b6;

}
.link-active:hover {
  font-size: 200%;
  color: #9b12b6;
}
