.sidebar{
  padding: 10px;
  background-color: rgb(204, 143, 228);
  font-family: 'Ranga', cursive;
  font-size: 20px;
  color: white;
  animation-name: colores;
  animation-duration: 20s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  
}

@keyframes colores {
  0%{background-color:rgb(204, 143, 228);}
  10%{background-color: rgba(255, 0, 0, 0.685);}
  20%{background-color:rgba(255, 166, 0, 0.61);}
  30%{background-color:rgba(255, 255, 0, 0.651);}
  40%{background-color: rgba(0, 128, 0, 0.726);}
  50%{background-color: rgba(0, 0, 255, 0.699);}
  60%{background-color: rgba(76, 0, 130, 0.651);}
  70%{background-color: rgba(128, 0, 128, 0.815);}
  100%{background-color: rgb(204, 143, 228);}
}